* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-image: linear-gradient(-20deg, #0f1310 0%, #141414 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
